.headerBody {
    min-height: 80px;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #bfbddb;
}

.btnOut {
    padding: 10px;
    width: 150px;
    border: none;
    outline: none;
    background-color: #d1512d;
    cursor: pointer;
    color: #eae3d2;
}

.container {
    position: relative;
    height: 80vh;
    border-color: #fff;
    padding: 20px;
    overflow-y: scroll;
}

.container>* {
    margin-bottom: 10px;
}

.senderName {
    text-align: right;
}

.recipientName{
    text-align: left;
}

.messageSender {
    background-color: rgb(194, 243, 194);
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
    font-size: 15px;
}

.messageRecipient {
    background-color: #f9efec;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.status{
    position: absolute;
    top: 98%;
    font-size: 13px;
    font-style: italic;
    bottom: 60px;
}

.userLogin{
    font-size: 20px;
}
.userLogin span{
    color: #687eaa;
    cursor: pointer;
}