.sidebar {
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid #dfbdbd;    
}

.header {
    padding: 20px;
    font-size: 25px;
}

.usersList {
    margin-bottom: 10px;
    color: #687eaa;
    font-size: 16px;
    font-weight: 700;
    list-style: none;
}

.usersList>li {
    cursor: pointer;
}

.userAccount {
    padding: 0px 0px 20px 20px;
    border-bottom: 1px solid black;
}

.userAccount:hover {
    background-color: rgba(202, 202, 202, 0.7);
}